# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo
dist/

# Docker
docker-compose.override.yml
.dockerignore

# Environment variables
.env

# Jest
coverage/

# IDE
.vscode/
